<style>
  /* Custom CSS for the heading */
  h3 {
    font-weight: bold;
    color: #ff6600; /* Set your desired color for the heading */
    text-align: center;
    font-size: 24px; /* Set your desired font size for the heading */
    /* Add any other styles you want to make the heading attractive */
  }
</style>

<h3>Clothes Gallery</h3>


<%= render 'clothes_gallery'%>
