<div style="text-align:center">
<h2>Thank you for shopping with us!</h2><br />
	
<h3>your order has been processed.</h3><br />

<h4>A detailed email has been sent.</h4><br />

<a href="/gallery/index"><button class='btn btn-primary'>Click here to continue the shopping</button></a>
</div>
